<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>Bar chart</mat-card-title>
		<mat-card-subtitle>Simple</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>
			<rms-sparkline-bar-chart
					[barPoints] = "barPoints"
					[className] = "className"
					[fillColor] = "fillColor"
					[height] = "height"
					[lineColor] = "lineColor"
					[lineWidth] = "lineWidth"
					[toolTip] = "toolTip"
					[width] = "width"
			>
			</rms-sparkline-bar-chart>
		</p>
		<h4>Highlights</h4>
		<p>The a simple bar chart sparkline including the following elements:>
		<div>
			<ol>
				<li>a bar chart</li>
			</ol>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<a mat-raised-button href="https://github.com/RodrigoMattosoSilveira/rms-sparklines/tree/master/rms-sparkline-bar-chart" target="_blank">Source & README</a>
		<a mat-raised-button href="https://stackblitz.com/edit/angular-krtbx2?file=src%2Fapp%2Fapp.component.html" target="_blank">Live Example</a>
	</mat-card-actions>
</mat-card>