<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- span>Sparklines</span -->
      <span><a class ="toolbar-home-link" href=''>SPARKLINES</a></span>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>

      <span>
          <div class="example-header-image mat-card-avatar"></div>
      </span>

      <span>
          <a mat-button href="https://www.linkedin.com/in/rodrigomattososilveira/" target="_blank">Rodrigo Silveira</a>
      </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
	<mat-sidenav mode="side" opened="true">
		<mat-nav-list>

			<h3 matSubheader>Sparkline Types</h3>
			<mat-list-item *ngFor="let sparkline of sparklines">
	            <!-- mat-icon mat-list-icon>{{create.icon}}</mat-icon -->
				<h4 mat-line><a mat-button [routerLink]="sparkline.routeLink">{{sparkline.name}}</a></h4>
			</mat-list-item>

		</mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

