<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sparklines</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item *ngFor="let nav of navItems">
        <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
        <h4 mat-line>{{nav.name}}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>Create</h3>
      <mat-list-item *ngFor="let create of creating">
        <mat-icon mat-list-icon>{{create.icon}}</mat-icon>
        <h4 mat-line>{{create.name}}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>Search</h3>
      <mat-list-item *ngFor="let search of searches">
        <mat-icon mat-list-icon>{{search.icon}}</mat-icon>
        <h4 mat-line>{{search.name}}</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>
