<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Inline</mat-card-title>
    <mat-card-subtitle>Shade</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <rms-sparkline-inline
              [linepoints]="linePoints"
              [classname]="className"
              [width]="width"
              [height]="height"
              [linecolor]="lineColor"
              [linewidth]="lineWidth"
              [dotradius]="dotRadius"
              [shadecolor]="shadeColor"
      >
      </rms-sparkline-inline>
    </p>
    <h4>Highlights</h4>
      <markdown ngPreserveWhitespaces>
          The `rms-sparkline-inline` web component was used to render this sparkline with the following elements:

          1. a line
          1. a drop down shade
          1. decorating points not shown
      </markdown>

  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button href="https://github.com/RodrigoMattosoSilveira/rms-sparklines/tree/master/rms-sparkline-inline" target="_blank">Source & README</a>
    <a mat-raised-button href="https://stackblitz.com/edit/rms-sparklines-inline-drop-shadow" target="_blank">Live Example</a>
  </mat-card-actions>
</mat-card>
<!-- div>rms-sparkline-inline shaded</div -->