@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 400px;
}

mat-card {
    margin: 16px 16px 16px 16px;
}

.example-header-image {
    background-size: cover;
    height: 32px;
    width: 128px;
    border-radius: 0%;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    height: 600px;
}