@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-card {
    margin: 16px 16px 16px 16px;

}

.example-card {
    max-width: 400px;
}

.example-header-image.mat-card-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 32px;
    width: 128px;
    border-radius: 0%;
}

.example-header-image.sparkline {
    background-size: cover;
    height: 32px;
    width: 128px;
    border-radius: 0%;
}
